.banner {
  @include whiteText;

  position: relative;

  margin: 0;
  width: 100%;
  padding-left: 58px;
  padding-right: 60px;
  padding-top: 186px;
  padding-bottom: 43px;

  text-align: center;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $primary_green;
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center;

  &::after {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);

    display: block;
    width: 56px;
    height: 61px;

    background-image: url("../img/icon-gift.svg");
    content: "";
  }
}

@media (min-width: $tablet) {
  .banner {
    padding-top: 75px;
    padding-left: 424px;
    padding-bottom: 66px;
    padding-right: 124px;

    text-align: left;

    background-position: 15px -345px;
    background-size: cover;

    &::after {
      top: 66px;
      left: 118px;
    }
  }
}

@media (min-width: $desktop) {
  .banner {
    width: 245px;
    padding-top: 190px;
    padding-bottom: 43px;
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;

    text-align: center;

    background-position: center center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
