.button {
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;

  font-family: inherit;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $primary_green;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5eaa2f;
  }

  &--gray {
    color: #444444;

    background-color: $primary_gray;
  }

  &--gray:hover {
    background-color: #ebebeb;
  }

  &--gray:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
