.catalog {
  padding-bottom: 36px;
}

.catalog__title {
  @include paddingMobile;

  padding-top: 25px;
  padding-bottom: 40px;

  border-bottom: solid 1px $light_gray;
}

.catalog__list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

@media (min-width: $tablet) {
  .catalog {
    padding-top: 57px;
  }

  .catalog__title {
    margin-bottom: 95px;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 0;
  }

  .catalog__banner-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop) {
  .catalog {
    padding-top: 72px;
  }

  .catalog__title {
    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog__list {
    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog__banner-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
