.catalog {
  padding-bottom: 36px;
}

.catalog__title {
  @include paddingMobile;

  padding-top: 25px;
  padding-bottom: 40px;

  border-bottom: solid 1px $light_gray;
}

.catalog__more {
  @include paddingMobile;
}

.catalog__banner {
  @include paddingMobile;
}

.catalog__list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

@media (min-width: $tablet) {
  .catalog__title {
    margin-bottom: 156px;
    
    border-bottom: none;
  }
}