.contacts__address {
  @include paddingMobile;

  position: relative;
  z-index: 3;

  padding-top: 27px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  background-color: #ffffff;

  &--gray {
    background-color: $primary_gray;
  }
}

.contacts__intro {
  @include strongText;

  margin: 0;
  width: calc(50% - 15px);
}

.contacts__text {
  margin: 0;

  @include paragraph;
  line-height: 20px;
}

.contacts__title {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 31px;
  width: 100%;

  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet) {
  .contacts__address {
    align-items: center;
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 65px;
    padding-bottom: 60px;
  }

  .contacts__title {
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
  }

  .contacts__intro {
    max-width: 160px;

    font-size: 20px;
    line-height: 1.25;
  }

  .contacts__text {
    font-size: 16px;
    text-align: right;
  }

  .contacts__text-town {
    display: block;
    margin-top: 16px;
  }

  .contacts__title-img {
    width: 128px;
    height: 24px;
  }
}

@media (min-width: $desktop) {
  .contacts__address-container {
    width: 100%;
    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 103px;
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;
    padding-top: 92px;
  }

  .contacts__address {
    padding-left: 76px;
    padding-right: 90px;
    padding-top: 65px;
    padding-bottom: 62px;
    width: 570px;
  }

  .contacts__text {
    text-align: left;
  }
}
