.contacts__address {
  position: relative;
  z-index: 1;

  padding-top: 27px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;

  &--gray {
    background-color: $primary_gray;
  }
}

.contacts__intro {
  @include strongText;

  margin: 0;
  width: calc(50% - 15px);
}

.contacts__text {
  margin: 0;

  @include paragraph;
  line-height: 20px;
}

.contacts__title {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 31px;

  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
