.example {
  padding-top: 29px;
  padding-bottom: 39px;

  background-color: $primary_gray;
}

.example__title {
  @include paddingMobile;

  margin-bottom: 33px;
}

.example__description {
  @include paddingMobile;
  @include paragraph;

  margin: 0;
  margin-bottom: 26px;

  font-weight: 300;
}

@media (min-width: $tablet) {
  .example {
    padding-top: 45px;
    padding-bottom: 0;

    background-color: #ffffff;
  }

  .example-text {
    bottom: -11px;
  }

  .example__title {
    margin-bottom: 64px;
  }

  .example__description {
    margin-bottom: 49px;

    font-size: $large_font_size;
    line-height: 1.5;
  }
}

@media (min-width: $desktop) {
  .example {
    padding-bottom: 0;
  }

  .example__wrapper {
    padding-top: 75px;
    padding-bottom: 75px;

    background-color: $primary_gray;
  }

  .example__description {
    max-width: 540px;
    padding-right: 0;
    margin-bottom: 71px;
  }
}
