.example {
  padding-top: 29px;
  padding-bottom: 39px;

  background-color: $primary_gray;
}

.example__title {
  @include paddingMobile;

  margin-bottom: 33px;
}

.example__description {
  @include paddingMobile;
  @include paragraph;

  padding-right: 25px;
  margin: 0;
  margin-bottom: 26px;

  font-weight: 300;
}

@media (min-width: $tablet) {
  .example {
    padding-top: 45px;
    padding-bottom: 0;

    background-color: #ffffff;
  }

  .example-text {
    bottom: -11px;
  }

  .example__title {
    margin-bottom: 60px;
  }

  .example__description {
    margin-bottom: 52px;
    padding-right: 40px;

    font-size: $large_font_size;
    line-height: 1.5;
  }
}

@media (min-width: $desktop) {
  .example {
    padding-bottom: 0;
    padding-top: 71px;
  }

  .example__title {
    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
  }

  .example__wrapper {
    position: relative;

    background-color: $primary_gray;
    background-image: linear-gradient(to right, $primary_gray 50%, #eaeaea 50%);
  }

  .example__container-center {
    position: relative;

    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
    padding-top: 71px;
    padding-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;

    &::before {
      content: "";
      z-index: 1;
      display: block;
      position: absolute;
      width: 365px;
      height: 100%;
      top: 0;
      right: 327px;

      background-color: $primary_gray;
    }

    &::after {
      content: "";
      z-index: 1;
      display: block;
      position: absolute;
      width: 271px;
      height: 100%;
      top: 0;
      right: 0;

      background-color: #eaeaea;
    }
  }

  .example__description {
    max-width: 432px;
    padding-right: 0;
    margin-bottom: 68px;
    padding-left: 0;
  }
}
