.extra-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 18px;
  border-bottom: 1px solid $dark_gray;

  &:first-child {
    border-top: 1px solid $dark_gray;
  }

  td {
    padding-top: 0;
    padding-bottom: 0;

    &:last-child {
      width: 100%;
    }
  }
}

.extra-item__count,
.extra-item__price {
  width: 50%;

  font-size: 14px;
  font-family: $arial_font;
}

.extra-item__price {
  text-align: right;
}

.extra-item__order {
  margin-top: 15px;
  display: block;
}

.extra-item__title {
  width: 100%;
  margin-bottom: 11px;

  font-family: $oswald_font;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .extra-item {
    padding-top: 24px;
    padding-bottom: 28px;
    padding-left: 36px;
    padding-right: 33px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid 1px rgba($medium_gray, 0.5);
    border-right: solid 1px rgba($medium_gray, 0.5);
    border-left: solid 1px rgba($medium_gray, 0.5);

    &:first-child {
      border-top: solid 1px rgba($medium_gray, 0.5);
    }

    td {
      padding-top: 0;
      padding-bottom: 0;
      display: block;

      &:last-child {
        width: 100%;
      }
    }
  }

  .extra-item__count,
  .extra-item__price {
    font-size: 16px;
  }

  .extra-item__count {
    width: auto;
  }

  .extra-item__price {
    width: 94px;
    text-align: right;
  }

  .extra-item__order {
    font-size: 16px;

    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 23px;
  }

  .extra-item__title {
    flex-grow: 1;
    width: auto;
    margin-bottom: 0;

    font-size: 20px;
  }
}

@media (min-width: $desktop) {
  .extra-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: table-row;

    border-bottom: none;
    border-right: none;
    border-left: none;

    &:first-child {
      border-top: none;
    }

    td {
      padding-top: 13px;
      padding-bottom: 13px;
      display: table-cell;

      border-bottom: 1px solid $medium_gray;

      &:last-child {
        text-align: right;
        width: auto;
      }
    }
  }

  .extra-item__price {
    width: 81px;
    text-align: left;
  }

  .extra-item__count {
    width: 242px;
  }

  .extra-item__order {
    display: inline-block;
    width: auto;
    padding-left: 85px;
    padding-right: 81px;
    margin-top: 0;

    font-size: 20px;
  }

  .extra-item__title {
    width: 325px;
    padding-right: 165px;
  }
}
