.extra-products__title {
  @include titleWithGreenElement;

  position: relative;

  margin: 0;
  padding-top: 26px;
  padding-bottom: 34px;
  padding-left: 20px;
}

.extra-products__list {
  list-style: none;
  margin: 0;

  margin-bottom: 39px;
}
