.extra-products__title {
  position: relative;

  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;

  font-size: 24px;
  font-family: inherit;
  font-weight: 300;
  color: #111111;
  line-height: 24px;

  border-bottom: 1px solid rgba(#000000, 0.1);

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(calc(-50% + 3px));

    width: 53px;
    height: 3px;
    display: block;
    background-color: $primary_green;

    content: "";
  }
}
