.field {
  position: relative;

  display: flex;
  width: 100%;
  align-items: center;

  &:hover .field__radio-control,
  &:hover .field__checkbox-control {
    border: solid 1px #bababa;
  }
}

.field__label {
  font-size: $large_font_size;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;

  &--margin-right {
    margin-right: 12px;
  }
}

.field__input {
  @include inputStates;

  flex-grow: 1;
  height: 45px;
  padding-left: 16px;
  padding-right: 16px;

  font-family: inherit;
  font-size: $large_font_size;
  color: $primary_text;
  font-weight: 300;
  text-transform: uppercase;

  outline: none;
  border: solid 1px rgba($medium_gray, 0.5);
  background-repeat: no-repeat;

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 14px;
    background-position: calc(100% - 15px) center;

    &:focus {
      background-image: url("../img/icon-mail-active.svg");
    }

    &:invalid {
      background-image: url("../img/icon-mail-error.svg");
    }
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 21px 21px;
    background-position: calc(100% - 13px) center;

    &:focus {
      background-image: url("../img/icon-phone-active.svg");
    }

    &:invalid {
      background-image: url("../img/icon-phone-error.svg");
    }
  }
}

.field__checkbox-control {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin-right: 16px;

  border: solid 1px $medium_gray;
  background-color: #ffffff;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 22px;
    height: 17px;
    display: block;

    border-radius: 50%;
    background-image: url("../img/icon-tick.svg");
    opacity: 0;
    content: "";
  }
}

.field__radio-control {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin-right: 16px;

  border-radius: 50%;
  border: solid 1px $medium_gray;
  background-color: #ffffff;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 12px;
    height: 12px;
    display: block;

    border-radius: 50%;
    background-color: $primary_green;
    opacity: 0;
    content: "";
  }
}

.field__textarea {
  @include inputStates;

  padding: 13px;
  width: 100%;
  height: 150px;

  font-family: inherit;
  font-size: $large_font_size;
  color: $primary_text;
  font-weight: 300;
  text-transform: uppercase;

  border: solid 1px rgba($medium_gray, 0.5);
}

.field__radio:checked + .field__radio-control::after,
.field__checkbox:checked + .field__checkbox-control::after {
  opacity: 1;
}

.field__radio:disabled + .field__radio-control,
.field__checkbox:disabled + .field__checkbox-control,
.field__radio:disabled ~ .field__label,
.field__checkbox:disabled ~ .field__label {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .field__label {
    font-size: 20px;
  }

  .field__input {
    height: 52px;
    font-size: 20px;
  }

  .field__radio-control {
    width: 40px;
    height: 40px;
  }

  .field__textarea {
    height: 174px;
  }
}

@media (min-width: $desktop) {
  .field {
    &--extra {
      width: auto;
    }
  }
}
