.footer {
  position: relative;

  background-color: $primary_gray;
}

.footer__copyright {
  @include paddingMobile;
}

@media (min-width: $tablet) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 52px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop) {
  .footer__container {
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}
