.group-fields {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  border: none;

  &--border {
    border-top: solid 1px $light_gray;
    border-bottom: solid 1px $light_gray;
  }

  &--with-padding {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

.group-fields__title-container {
  @include paddingMobile;

  margin: 0;
  margin-bottom: 32px;
  width: 100%;

  &--green {
    @include greenLine;
  }
}

.group-fields__title {
  margin: 0;
  display: inline-block;
  max-width: 205px;
  padding-right: 22px;

  font-size: $title_font_size;
  font-family: inherit;
  font-weight: 300;
  color: $black;
  line-height: 24px;

  background-color: #ffffff;
}

.group-fields__field {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    padding-bottom: 23px;
  }
}

@media (min-width: $tablet) {
  .group-fields {
    padding-left: 70px;
    padding-right: 70px;

    &--border {
      padding-right: 0;
      padding-left: 28px;
      padding-top: 25px;
      margin-left: 70px;
      margin-right: 70px;
      margin-bottom: 79px;

      border-right: solid 1px $light_gray;
      border-left: solid 1px $light_gray;
    }
  }

  .group-fields__title-container {
    padding-left: 0;
    padding-right: 0;
  }

  .group-fields__title {
    max-width: none;

    font-size: 36px;
    line-height: 1;
  }

  .group-fields__field {
    margin-bottom: 20px;

    &--radio {
      margin-bottom: 13px;
    }

    &--extra {
      margin-bottom: 32px;
      max-width: 50%;

      &:first-child {
        padding-bottom: 0;
      }

      &:last-child {
        margin-bottom: 32px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .group-fields__field {
    &--no-margin-bottom {
      margin-bottom: 0;
    }

    &--width-desktop {
      max-width: 500px;
    }

    &--extra {
      width: auto;
      margin-right: 106px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:first-child {
      padding-bottom: 0;
    }
  }

  .group-fields {
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;

    &--border {
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }

    &--with-padding {
      padding-bottom: 25px;
      padding-left: 28px;
    }

    &--no-main-padding {
      padding-left: 0;
      padding-right: 0;
    }

    &--width-desktop {
      width: 500px;
    }
  }
}
