.group-fields {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  border: none;

  &--border {
    border-top: solid 1px $light_gray;
    border-bottom: solid 1px $light_gray;
  }

  &--with-padding {
    padding-top: 18px;
    padding-bottom: 20px;
  }

  &--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.group-fields__title-container {
  margin: 0;
  margin-bottom: 32px;
  width: 100%;

  &--green {
    @include greenLine;
  }

  &::before {
    top: 36%;
  }
}

.group-fields__title {
  margin: 0;

  font-size: $title_font_size;
  font-family: inherit;
  font-weight: 300;
  color: $black;
  line-height: 24px;

  span {
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;

    background-color: #ffffff;
  }
}

.group-fields__title-span {
  max-width: 221px;
}

.group-fields__field {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .group-fields {
    padding-left: 70px;
    padding-right: 70px;

    &--border {
      padding-right: 0;
      padding-left: 27px;
      padding-top: 24px;
      margin-left: 70px;
      margin-right: 70px;
      margin-bottom: 79px;

      border-right: solid 1px $light_gray;
      border-left: solid 1px $light_gray;
    }

    &--with-padding {
      padding-bottom: 25px;
    }

    &--no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .group-fields__title-container {
    padding-left: 0;
    padding-right: 0;

    margin-bottom: 76px;

    &--checkboxes {
      margin-bottom: 56px;
    }

    &::before {
      top: 60%;
    }
  }

  .group-fields__title {
    font-size: 36px;
    line-height: 1;

    padding-left: 33px;
    padding-right: 33px;
    max-width: 768px;

    span {
      padding-left: 37px;
      padding-right: 37px;
      max-width: none;
    }
  }

  .group-fields__field {
    margin-bottom: 20px;

    &--radio {
      margin-bottom: 13px;
    }

    &--extra {
      margin-bottom: 32px;
      max-width: 50%;

      &:nth-child(2n) {
        padding-left: 30px;
      }

      &:last-child {
        margin-bottom: 32px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .group-fields__title {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .group-fields__title-container {
    &--checkboxes {
      margin-bottom: 55px;
    }
  }

  .group-fields__field {
    &--no-margin-bottom {
      margin-bottom: 0;
    }

    &--width-desktop {
      max-width: 568px;
    }

    &--extra {
      width: auto;
      margin-right: 0;
      margin-bottom: 0;

      &:first-child {
        margin-right: 109px;
      }

      &:nth-child(2) {
        margin-right: 141px;
      }

      &:nth-child(3) {
        margin-right: 200px;
      }

      &:nth-child(2n) {
        padding-left: 0;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    &:first-child {
      padding-bottom: 0;
    }
  }

  .group-fields {
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;

    &--border {
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }

    &--with-padding {
      padding-bottom: 25px;
      padding-left: 28px;
    }

    &--no-main-padding {
      padding-left: 0;
      padding-right: 0;
    }

    &--width-desktop {
      width: 568px;
    }

    &--no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
