.group-fields {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;

  border: none;

  &--border {
    border-top: solid 1px $light_gray;
    border-bottom: solid 1px $light_gray;
  }

  &--with-padding {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

.group-fields__title-container {
  @include paddingMobile;
  
  margin: 0;
  margin-bottom: 32px;
  width: 100%;

  &--green {
    @include greenLine;
  }
}

.group-fields__title {
  margin: 0;
  display: inline-block;
  max-width: 205px;
  padding-right: 22px;

  font-size: $title_font_size;
  font-family: inherit;
  font-weight: 300;
  color: $black;
  line-height: 24px;

  background-color: #fff;
}

.group-fields__field {
  @include paddingMobile;

  &:first-child {
    padding-bottom: 23px;
  }
}
