.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 19px;
  width: 100%;

  &--border {
    border-bottom: solid 1px $light_gray;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
