.header__container {
  width: 100%;

  &--border {
    border-bottom: solid 1px $light_gray;
    padding-bottom: 13px;
  }
}

.header__logo-container {
  @include paddingMobile;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__toggle {
  position: relative;

  width: 25px;
  height: 19px;
  display: block;

  border: none;
  background-color: #ffffff;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &--open {
    background-image: url("../img/icon-close.svg");
  }
}

@media (min-width: $tablet) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__logo-container {
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .header__toggle {
    @include hidden;
  }

  .header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop) {
  .header {
    &--absolute {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }

  .header__container {
    padding-top: 53px;
    max-width: none;
  }

  .header__logo {
    width: 203px;
    height: 60px;
  }
}

@media (min-width: $desktop_large) {
  .header__container {
    padding-left: 110px;
    padding-top: 53px;
    padding-right: 110px;
    max-width: none;
  }
}
