.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 19px;

  &--border {
    border-bottom: solid 1px #ededed;
  }
}
