.main-nav__toggle {
  width: 25px;
  height: 19px;
  display: block;
  border: none;
  background-color: #fff;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
