.map {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 362px;

  &::after {
    position: absolute;
    top: 139px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    background-image: url("../img/map-pin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55px;
    height: 53px;

    content: "";
  }
}

.map__image {
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: -38px;
}

@media (min-width: $tablet) {
  .map {
    width: 768px;
    height: 400px;
  }

  .map__image {
    top: 0;
  }
}

@media (min-width: $desktop) {
  .map {
    width: $container_width_desktop;
  }
}
