.menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu__item {
  border-bottom: solid 1px $light_gray;

  &:first-child {
    border-top: solid 1px $light_gray;
  }
}

.menu__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 20px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
  line-height: 20px;

  &--black {
    color: $black;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item {
    border-bottom: none;
    margin-right: 34px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu__link {
    position: relative;

    padding-top: 0;
    padding-bottom: 0;

    font-size: 18px;

    &--active {
      &::after {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -10px;

        border-bottom: 2px solid $primary_green;

        content: "";
      }
    }
  }
}

@media (min-width: $desktop) {
  .menu__link {
    font-size: 20px;
    color: #ffffff;

    &--black {
      color: $black;
    }

    &--active {
      &::after {
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}
