.menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu__item {
  border-bottom: solid 1px $light_gray;

  &:first-child {
    border-top: solid 1px $light_gray;
  }
}

.menu__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 20px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
  line-height: 20px;
}

@media (min-width: $tablet) {
  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item {
    border-bottom: none;
    margin-right: 34px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu__link {
    padding-top: 0;
    padding-bottom: 0;

    font-size: 18px;
  }
}

@media (min-width: $desktop) {
  .menu__link {
    font-size: 20px;
    color: #ffffff;
  }
}
