.plan {
  position: relative;

  width: 100%;
  padding-left: 21px;
  padding-top: 37px;
  padding-right: 20px;

  background-color: $primary_gray;

  &--slim::after,
  &--pro::after {
    @include greenCircle;

    content: "";
  }

  &--slim::before {
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/icon-cat-slim.svg");
    content: "";
  }

  &--pro::before {
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/icon-cat-pro.svg");
    content: "";
  }
}

.plan__title {
  position: relative;

  margin: 0;
  padding-left: 70px;
  padding-bottom: 13px;
  margin-bottom: 21px;

  font-size: $title_font_size;
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
}

.plan__description {
  margin: 0;
  padding-bottom: 22px;

  font-family: $arial_font;
  font-size: $primary_font_size;
  font-weight: 300;
  line-height: 1.5;
  color: $primary_text;

  border-bottom: 1px solid $dark_gray;
}

.plan__button {
  @include strongText;

  position: relative;

  display: inline-block;
  padding-top: 19px;
  padding-bottom: 20px;

  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: width 0.1s linear;
  }

  &:hover::after {
    width: 32px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}

@media (min-width: $tablet) {
  .plan {
    padding-top: 76px;
    padding-left: 55px;
    padding-right: 0;
    padding-bottom: 60px;
    width: 708px;

    &--slim::before {
      top: 80px;
      right: 92px;
      left: auto;
      width: 141px;
      height: 194px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/icon-cat-slim.svg");
      content: "";
    }

    &--pro::before {
      position: absolute;
      z-index: 1;
      top: 135px;
      right: 28px;
      left: auto;

      width: 268px;
      height: 113px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/icon-cat-pro.svg");
      content: "";
    }
  }

  .plan__title {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 22px;

    font-size: 36px;
  }

  .plan__description {
    max-width: 372px;
    padding-bottom: 0;
    margin-bottom: 56px;

    font-size: 16px;
    border-bottom: none;
  }

  .plan__button {
    padding-top: 0;
    padding-bottom: 0;

    font-size: 20px;

    &::after {
      left: calc(100% + 20px);
    }
  }
}

@media (min-width: $desktop) {
  .plan {
    width: 570px;
    padding-left: 52px;

    &::after {
      top: 49px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--slim::before {
      top: 43px;
      right: auto;
      left: 64px;

      width: 70px;
      height: 100px;
    }

    &--pro::before {
      top: 70px;
      right: auto;
      left: 34px;

      width: 134px;
      height: 57px;
    }
  }

  .plan__title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 72px;
    margin-left: 161px;
  }

  .plan__description {
    margin-bottom: 33px;
    max-width: none;
  }
}
