.product {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;

  border-bottom: solid 1px $light_gray;
}

.product__container-info {
  display: flex;
  width: 100%;
}

.product__title {
  @include strongText;

  margin: 0;
  padding-top: 22px;
  max-width: 74px;
  margin-bottom: 12px;
}

.product__info {
  width: 100%;
}

.product__params {
  width: 100%;

  font-size: $small_font_size;
  font-family: $arial_font;
  line-height: 12px;
  color: $primary_text;
}

.product__param-value {
  text-align: right;
}

.product__order {
  font-size: $large_font_size;
}

@media (min-width: $tablet) {
  .product {
    position: relative;

    width: 324px;

    border-bottom: none;
    background-color: $light_gray;
  }

  .product__image {
    display: none;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 245px;
  }
}
