@media (min-width: $tablet) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .products-list__item {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop) {
  .products-list__item {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
