.promo {
  position: relative;
}

.promo__title-container {
  padding-top: 27px;
  padding-bottom: 29px;
}

.promo__title {
  @include paddingMobile;

  margin-top: 0;
  margin-bottom: 24px;

  text-align: center;
  color: #ffffff;
  font-weight: inherit;
}

.promo__intro {
  position: relative;
  z-index: 2;

  margin: 0;

  text-align: center;
  color: #ffffff;
  line-height: 1;
  font-size: $primary_font_size;
  font-weight: inherit;
  text-transform: uppercase;
}

.promo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

@media (min-width: $tablet) {
  .promo {
    position: relative;

    padding-top: 56px;
    margin-bottom: 0;
  }

  .promo__title-container {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 120px;
    padding-right: 120px;

    background-image: none;
  }

  .promo__intro {
    color: $black;
    text-align: left;
    font-size: 20px;
  }

  .promo__title {
    margin-bottom: 40px;
    max-width: 500px;
    padding-left: 0;
    padding-right: 0;

    text-align: left;
    color: $black;
  }

  .promo__image {
    position: absolute;
    top: 258px;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 0;
    padding-top: 0;
    width: 709px;
    height: 609px;
    display: block;
  }
}

@media (min-width: $desktop) {
  .promo {
    padding-top: 223px;
    margin-bottom: 0;
  }

  .promo__title-container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .promo__title {
    margin-bottom: 40px;
  }

  .promo__image {
    top: 142px;
    left: auto;
    right: calc(50% - 116px);
    transform: translateX(50%);

    width: 552px;
    height: 499px;
  }
}
