.promo {
  position: relative;
  margin-bottom: 22px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;
}

.promo__get-plan-container {
  @include paddingMobile;
}

.promo__title-container {
  padding-top: 27px;
  padding-bottom: 29px;
}

.promo__title {
  @include paddingMobile;

  margin-top: 0;
  margin-bottom: 24px;

  text-align: center;
  color: #ffffff;
  font-weight: inherit;
}

.promo__intro {
  margin: 0;

  text-align: center;
  color: #ffffff;
  line-height: 1;
  font-size: $primary_font_size;
  font-weight: inherit;
  text-transform: uppercase;
}

.promo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

@media (min-width: $tablet) {
  .promo {
    padding-bottom: 529px;
    padding-top: 56px;
    margin-bottom: 0;

    background-image: none;
  }

  .promo__title-container {
    margin-bottom: 48px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 120px;
    padding-right: 120px;

    background-image: none;
  }

  .promo__get-plan-container {
    position: relative;
    z-index: 1;

    padding-left: 120px;
    padding-right: 120px;
  }

  .promo__intro {
    color: $black;
    text-align: left;
    font-size: 20px;
  }

  .promo__title {
    margin-bottom: 40px;
    max-width: 500px;
    padding-left: 0;
    padding-right: 0;

    text-align: left;
    color: $black;
  }

  .promo__image {
    position: absolute;
    top: 258px;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 0;
    padding-top: 0;
    width: 709px;
    height: 609px;
    display: block;
  }
}

@media (min-width: $desktop) {
  .promo {
    padding-top: 223px;
    padding-bottom: 196px;
    margin-bottom: 80px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: 55% auto;
    background-position: right top;
  }

  .promo__get-plan-container {
    padding-left: 190px;
  }

  .promo__title-container {
    margin-bottom: 53px;
  }

  .promo__title {
    margin-bottom: 40px;
  }
  
  .promo__image {
    top: 142px;
    transform: none;
    right: calc(50% + 170px);

    width: 552px;
    height: 499px;
  }
}

@media (min-width: $desktop_large) {
  .promo {
    background-size: 50% auto;
  }

  .promo__title-container {
    padding-left: 190px;
  }

  .promo__image {
    left: auto;
    right: 328px;
    transform: none;
  }
}