.result {
  position: relative;

  width: 124px;

  border: solid 1px $medium_gray;
}

.result__value {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;

  text-align: center;
  font-weight: 300;
  color: $black;
  font-size: $title_font_size;
  line-height: 24px;
  text-transform: uppercase;
}

.result__text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -7px);

  display: block;
  width: 87px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: $arial_font;
  font-weight: 300;
  font-size: $small_font_size;
  line-height: 12px;
  text-align: center;

  background-color: $primary_gray;
}
