.results__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 37px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  list-style: none;
}

.results__cost {
  margin: 0;
  margin-bottom: 41px;

  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.results__range {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.results__range-button {
  padding: 0;

  font-size: $large_font_size;
  font-weight: 300;
  font-family: $oswald_font;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px dotted rgba($black, 0.23);
  background-color: transparent;

  &:hover {
    border-bottom: 1px solid rgba($black, 0.4);
  }

  &:active {
    border-bottom: none;
  }
}

.results__cat-image {
  display: block;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}

.results__cat-image-after {
  display: none;
}

.results__progress-bar {
  position: relative;

  display: block;
  width: 86px;
  height: 14px;
  margin-left: 19px;
  margin-right: 18px;

  border-radius: 6px;
  border: solid 1px $medium_gray;
  transition: left 0.2s linear;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 35px;
    height: 6px;

    border-radius: 3px;
    background-color: $primary_green;

    content: "";
  }

  &--start::after {
    left: 6px;
  }

  &--end::after {
    left: auto;
    right: 6px;
  }
}

@media (min-width: $tablet) {
  .results__item {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }

  .results__info {
    @include paddingMobile;

    display: flex;
    align-items: center;
    width: 100%;
    max-width: $container_width_desktop;
    justify-content: space-between;
    margin-bottom: 102px;
  }

  .results__cost {
    margin-bottom: 0;

    text-align: right;
    font-size: 20px;
  }

  .results__list {
    max-width: none;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: auto;
  }

  .results__range {
    position: relative;
    z-index: 3;
  }

  .results__progress-bar {
    width: 428px;
    height: 6px;
    margin-left: 22px;
    margin-right: 22px;

    border-radius: 2.5px;
    border: none;
    background-color: #dcdcdc;

    &::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 34px;
      height: 34px;

      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border: solid 1px $medium_gray;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);

      display: block;
      width: 8px;
      height: 8px;

      background-color: $primary_green;
      border-radius: 50%;
    }
  }

  .results__range-button {
    font-size: 20px;
  }

  .results__price {
    margin-top: 11px;
    display: block;
  }

  .results__cat {
    position: relative;
    padding-bottom: 72px;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;

      display: block;
      width: 50%;
      height: 462px;

      background-color: $light_gray;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 0;

      display: block;
      width: 50%;
      height: 462px;

      background-color: #eaeaea;
    }
  }

  .results__cat-pictures {
    position: relative;
    z-index: 1;

    width: 690px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }

  .results__cat-image {
    width: 690px;
    max-width: none;
    margin-bottom: 0;
  }

  .results__cat-image-after {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    max-width: none;
    width: 690px;
  }

  .results__cat-image-container {
    position: relative;

    width: 50%;
    height: 500px;
    overflow: hidden;

    &:first-child {
      z-index: 1;
    }
  }
}

@media (min-width: $desktop) {
  .results {
    position: relative;

    max-width: $container_width_desktop;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .results__cat-image-container {
    &:first-child {
      width: 365px;
    }

    &:last-child {
      width: 271px;
    }
  }

  .results__cost {
    text-align: left;
  }

  .results__cat {
    position: absolute;
    right: 0;
    top: -415px;

    padding-bottom: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .results__cat-pictures {
    position: relative;
    z-index: 3;
    right: 0;

    width: 636px;
    margin-bottom: 44px;
  }

  .results__cat-image-after {
    left: auto;
    right: -58px;
    bottom: 0;
  }

  .results__range {
    justify-content: flex-end;
  }

  .results__info {
    display: block;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .results__list {
    margin-bottom: 57px;
  }

  .results__price {
    display: inline;
    margin-left: 60px;
  }
}
