.selection {
  padding-top: 26px;
  padding-bottom: 32px;
}

.selection__title {
  @include paddingMobile;

  margin: 0;
  margin-bottom: 36px;
}

.selection__description {
  @include paddingMobile;
  margin: 0;
  margin-bottom: 40px;

  font-size: $primary_font_size;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $tablet) {
  .selection {
    padding-top: 56px;
    padding-bottom: 76px;
  }

  .selection__title {
    margin-bottom: 53px;
  }

  .selection__description {
    padding-left: 70px;
    padding-right: 0;
    margin-bottom: 67px;
    max-width: 400px;

    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop) {
  .selection {
    padding-bottom: 85px;
    padding-top: 72px;
  }

  .selection__description-wrapper {
    padding-left: $padding_desktop;
    max-width: $container_width_desktop;
    margin-right: auto;
    margin-left: auto;
  }

  .selection__description {
    max-width: 380px;
    padding-left: 0;
    margin-bottom: 66px;
  }

  .selection__title {
    margin-bottom: 55px;
    padding-left: $padding_desktop;
    max-width: $container_width_desktop;
    margin-right: auto;
    margin-left: auto;
  }
}
