.selection {
  padding-top: 26px;
  padding-bottom: 32px;
}

.selection__title {
  @include paddingMobile;

  margin: 0;
  margin-bottom: 36px;
}

.selection__description {
  @include paddingMobile;
  margin: 0;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}
