.social {
  @include paddingMobile;

  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 11px;
  width: 100%;

  border-top: 1px solid $dark_gray;
  border-bottom: 1px solid $dark_gray;
  list-style: none;
}

.social__svg {
  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

.social__item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;

  &:hover .social__svg {
    fill: $primary_green;
  }
}

@media (min-width: $tablet) {
  .social {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    margin-left: 151px;
    margin-right: 121px;

    border: none;
  }

  .social__item {
    margin-right: 11px;
  }

  .social__svg {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop) {
  .social {
    margin-left: 0;
    margin-right: 0;
  }

  .social__item {
    margin-right: 0;

    &:first-child {
      width: 28px;
      margin-right: 28px;
    }

    &:nth-child(2) {
      width: 23px;
      margin-right: 28px;
    }

    &:last-child {
      width: 14px;
    }
  }
}
