.social {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 11px;

  border-top: 1px solid rgba(#000000, 0.1);
  border-bottom: 1px solid rgba(#000000, 0.1);
  list-style: none;
}

.social__item {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 14px;

  background-repeat: no-repeat;
  background-position: center;

  &--vkontakte {
    background-image: url("../../img/icon-vk.svg");
    background-size: 22px 12px;
  }

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
    background-size: 17px 17px;
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
    background-size: 10px 19px;
  }

  &:last-child {
    margin-right: 0;
  }
}
