body {
  margin: 0;
  min-width: 320px;

  font-family: $oswald_font;
  font-weight: 300;
  color: $primary_text;
  font-size: $primary_font_size;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
