@mixin greenCircle {
  position: absolute;
  z-index: 0;
  top: 24px;
  left: 22px;

  display: block;
  width: 50px;
  height: 50px;

  background-color: $primary_green;
  border-radius: 50%;
}

@mixin whiteText {
  color: #ffffff;
  font-size: $large_font_size;
  line-height: 20px;
  font-family: $arial_font;
  font-weight: 300;
}

@mixin paragraph {
  font-family: $arial_font;
  font-size: $primary_font_size;
  line-height: 18px;
  font-weight: 300;
  color: $primary_text;
}

@mixin strongText {
  font-family: $oswald_font;
  font-size: $large_font_size;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

@mixin paddingMobile {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin titleWithGreenElement {
  font-size: $title_font_size;
  font-family: inherit;
  font-weight: 300;
  color: $black;
  line-height: 24px;

  &::after {
    position: absolute;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 53px;
    height: 3px;
    display: block;
    background-color: $primary_green;

    content: "";
  }
}
