@mixin greenCircle {
  position: absolute;
  z-index: 0;
  top: 24px;
  left: 22px;

  display: block;
  width: 50px;
  height: 50px;

  background-color: $primary_green;
  border-radius: 50%;
}

@mixin whiteText {
  color: #ffffff;
  font-size: $large_font_size;
  line-height: 20px;
  font-family: $arial_font;
  font-weight: 300;
}

@mixin paragraph {
  font-family: $arial_font;
  font-size: $primary_font_size;
  line-height: 18px;
  font-weight: 300;
  color: $primary_text;
}

@mixin strongText {
  font-family: $oswald_font;
  font-size: $large_font_size;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

@mixin paddingMobile {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin inputStates {
  &:hover {
    border: solid 1px $medium_gray;
  }

  &:focus {
    border: solid 2px $primary_text;
  }

  &:invalid {
    border: solid 2px $orange;
  }

  &:disabled {
    opacity: 0.3;
  }

  &::placeholder {
    font-weight: 300;
    font-family: inherit;
    color: $primary_text;
  }
}

@mixin greenLine {
  position: relative;

  &::after {
    position: absolute;
    z-index: -1;
    top: 11px;
    right: 0;

    width: calc(100% - 20px);
    height: 3px;
    display: block;
    background-color: $primary_green;

    content: "";
  }
}
