$primary_green: #68b738;
$primary_gray: hsl(0, 0%, 95%);
$primary_text: #444444;
$black: #111111;
$dark_green: #5eaa2f;
$light_gray: #ededed;
$medium_gray: #cdcdcd;
$dark_gray: rgba(#000000, 0.1);
$orange: #ff8282;

$small_font_size: 12px;
$primary_font_size: 14px;
$large_font_size: 16px;
$title_font_size: 24px;
$big_title_font_size: 36px;

$oswald_font: "Oswald", "Arial", "Helvetica", sans-serif;
$arial_font: "Arial", "Helvetica", sans-serif;
