@import "normalize";
@import "variables";
@import "fonts";
@import "mixins";

// global
@import "blocks/visually-hidden";
@import "blocks/title";
@import "blocks/container";
@import "blocks/button";

// header
@import "blocks/header";
@import "blocks/main-nav";

// programs
@import "blocks/programs";
@import "blocks/plan";

// guide
@import "blocks/guide";

// example
@import "blocks/example";
@import "blocks/results";
@import "blocks/result";

// catalog
@import "blocks/catalog";
@import "blocks/product";
@import "blocks/more";
@import "blocks/extra-products";

// footer
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/map";
@import "blocks/social";
@import "blocks/copyright";

body {
  margin: 0;

  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  color: $primary_text;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
